body {
  margin: 0;
  background-image: url("../Media/Img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#vaultTable {
  margin: auto;
}

#vaultCell {
  background-color: #9f9f9f;
  border: 4px solid #7e7e7e;
  border-radius: 2px;
  width: 575px;
  height: 575px;
  position: relative;
}

/*--Screens--*/

#screens {
  margin: 0.5% auto;
  width: 970px;
}

#monitor {
  background-color: #000;
  width: 750px;
  padding: 75px 0;
  display: inline;
  border: solid 4px #e2e2e2;
  border-radius: 2%;
  color: #3b00ff;
  font-size: 40px;
  text-align: center;
  float: left;
}

#counters {
  background-color: #000;
  width: 200px;
  padding: 75px 0;
  display: inline;
  border: solid 4px #e2e2e2;
  border-radius: 2%;
  color: #FFF;
  font-size: 20px;
  text-align: justify;
  float: right;
}

/*--Buttons--*/

#codeButtons {
  width: 252px;
  margin-top: 150px;
  background: #adadad;
  border: solid 5px #8a8a8a;
  border-radius: 5%;
  margin: auto;
}

.codeButton {
  margin: 5px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  border: solid 5px #BBB;
  border-radius: 15px;
  outline: none;
  background-color: #EEE;
  display: inline-block;
  transition-duration: 0.2s;
  cursor: pointer;
}

#submitBtn {
  width: 240px;
}

.codeButton:hover {
  background-color: #BCBCBC;
}

.codeButton:active {
  background-color: #c71919;
  border-color: #991919;
}

/* --VAULT-- */
@keyframes openVault {
  0%    {margin-left: 0%;
        transform: rotate(180deg);}
  100%  {margin-left: -80%;
        transform: rotate(0deg);}
}

@keyframes closeVault {
  0%    {margin-left: -80%;
        transform: rotate(0deg);}
  100%  {margin-left: 0%;
        transform: rotate(180deg);}
}

#vault {
  position: absolute;
  z-index: 2;
  top: 0px;
}

.vaultClosed {
  animation-name: closeVault;
  animation-duration: 4s;
  margin-left: 0%;
}

.vaultOpened {
  animation-name: openVault;
  animation-duration: 4s;
  margin-left: -80%;
}

#behindTheVault {
  width: 420px;
  height: 420px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 1;
  background-color: #000;
}
